In [11]:
import pandas as pd
club_games = pd.read_csv('/home/becode/Desktop/5#StoryTelling/data/club_games.csv')

In [12]:
club_games_chunck = club_games[['club_id','game_id', 'hosting', 'is_win']]

In [13]:
appearance = pd.read_csv('/home/becode/Desktop/5#StoryTelling/data/appearances.csv')

In [14]:
appearance_chunk = appearance[['game_id', 'player_id', 'red_cards', 'yellow_cards', 'competition_id']]

In [19]:
merge_players = (appearance_chunk['red_cards']>0) | (appearance_chunk['yellow_cards']>0)|(appearance_chunk['yellow_cards']>1)
merge_tables_players = appearance_chunk[merge_players]
len(merge_tables_players)

172744

In [ ]:
#merge_tables_players =

In [20]:
new_table = appearance_chunk[appearance_chunk['competition_id']=='BE1']

In [21]:
merge_tables = pd.merge(new_table, club_games,on='game_id')

In [24]:
merge_tables.sort_values(by='yellow_cards').tail()

,game_id,player_id,red_cards,yellow_cards,competition_id,club_id,own_goals,own_position,own_manager_name,opponent_id,opponent_goals,opponent_position,opponent_manager_name,hosting,is_win
75162,3237924,381967,0,2,BE1,58,1,13,Vincent Kompany,1096,2,2,László Bölöni,Home,0
115770,3851239,522791,0,2,BE1,2727,5,8,Marc Brys,2715,0,18,Jean-Sébastien Legros,Home,1
115771,3851239,522791,0,2,BE1,2715,0,18,Jean-Sébastien Legros,2727,5,8,Marc Brys,Away,0
115739,3851194,666953,0,2,BE1,475,2,8,Bernd Hollerbach,2715,1,18,Jean-Sébastien Legros,Away,1
86746,3415259,377219,0,2,BE1,3057,0,3,Philippe Montanier,1184,0,6,Hannes Wolf,Home,0

In [41]:

players = pd.read_csv('/home/becode/Desktop/5#StoryTelling/data/players.csv')
fr = merge_tables_players[merge_tables_players['name'] == 'Thibault Peyre']['image_url'].drop_duplicates()
print(fr.values)

[]

In [25]:
players = pd.read_csv('/home/becode/Desktop/5#StoryTelling/data/players.csv')
players = players[['player_id','current_club_id', 'image_url', 'name']]
merge_tables_players = pd.merge(merge_tables, players, on='player_id')
merge_tables_players

,game_id,player_id,red_cards,yellow_cards,competition_id,club_id,own_goals,own_position,own_manager_name,opponent_id,opponent_goals,opponent_position,opponent_manager_name,hosting,is_win,current_club_id,image_url,name
0,2479873,73846,0,1,BE1,601,2,13,Yves Vanderhaeghe,3057,3,1,Guy Luzon,Home,0,2293,https://img.a.transfermarkt.technology/portrai...,Paul-José Mpoku
1,2479873,73846,0,1,BE1,3057,3,1,Guy Luzon,601,2,13,Yves Vanderhaeghe,Away,1,2293,https://img.a.transfermarkt.technology/portrai...,Paul-José Mpoku
2,2479885,73846,0,0,BE1,3057,0,5,Guy Luzon,157,1,2,Hein Vanhaezebrouck,Home,0,2293,https://img.a.transfermarkt.technology/portrai...,Paul-José Mpoku
3,2479885,73846,0,0,BE1,157,1,2,Hein Vanhaezebrouck,3057,0,5,Guy Luzon,Away,1,2293,https://img.a.transfermarkt.technology/portrai...,Paul-José Mpoku
4,2486389,73846,0,0,BE1,29228,5,5,Rachid Chihab,3057,2,7,Guy Luzon,Home,1,2293,https://img.a.transfermarkt.technology/portrai...,Paul-José Mpoku
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129467,3851214,565016,0,0,BE1,3057,4,6,Ronny Deila,3948,2,2,Karel Geraerts,Away,1,3057,https://img.a.transfermarkt.technology/portrai...,Ibe Hautekiet
129468,3851299,429931,0,0,BE1,2282,2,4,Scott Parker,157,0,5,Hein Vanhaezebrouck,Home,1,157,https://img.a.transfermarkt.technology/portrai...,Cederick Van Daele
129469,3851299,429931,0,0,BE1,157,0,5,Hein Vanhaezebrouck,2282,2,4,Scott Parker,Away,0,157,https://img.a.transfermarkt.technology/portrai...,Cederick Van Daele
129470,3851119,283580,0,0,BE1,3057,2,6,Ronny Deila,968,0,7,Jonas De Roeck,Home,1,968,https://img.a.transfermarkt.technology/portrai...,Nick Gillekens
129471,3851119,283580,0,0,BE1,968,0,7,Jonas De Roeck,3057,2,6,Ronny Deila,Away,0,968,https://img.a.transfermarkt.technology/portrai...,Nick Gillekens

In [32]:
merge_tables_players['name'].value_counts()

Nick Gillekens             2
Laurens Symons             2
Paul Gladon                2
Clément Libertiaux         2
Souleymane Aw              2
                        ...
Siebe Schrijvers         432
Ruud Vormer              440
Kevin Vandendriessche    446
Mats Rits                450
Hans Vanaken             534
Name: name, Length: 1794, dtype: int64

In [39]:
fr = merge_tables_players[merge_tables_players['name'] == 'Thibault De Smet']['image_url'].drop_duplicates()
print(fr.values)

['https://img.a.transfermarkt.technology/portrait/header/340177-1602856980.png?lm=1']

In [38]:
fr = merge_tables_players[merge_tables_players['name'] == 'Jonas Bager']['image_url'].drop_duplicates()
print(fr.values)

['https://img.a.transfermarkt.technology/portrait/header/260829-1642257591.jpg?lm=1']

In [29]:
merge_tables_players[merge_tables_players['name'] == 'Thibault Peyre']

Empty DataFrame
Columns: [game_id, player_id, red_cards, yellow_cards, competition_id, club_id, own_goals, own_position, own_manager_name, opponent_id, opponent_goals, opponent_position, opponent_manager_name, hosting, is_win, current_club_id, image_url, name]
Index: []

In [ ]:
merge_tables_players.sort_values(by='sum_cards', ascending=False)

In [ ]:
new_table = pd.merge(new_table, merge_tables,on='game_id', right_on='game_id')
len(new_table)

In [ ]:
new_table_test = pd.concat(new_table, club_games,left_on='game_id', right_on='game_id')
len(new_table)

In [ ]:
new_table.head()

In [ ]:

players = pd.read_csv('/home/becode/Desktop/5#StoryTelling/data/players.csv')
new_table = pd.merge(new_table, players,left_on='player_id', right_on='player_id')

In [ ]:
new_table.dtypes

In [ ]:
new_table_full = new_table[new_table['red_cards']>0]
len(new_table_full)

In [ ]:
new_calc = new_table_full.groupby('player_name')['red_cards'].sum().sort_values(ascending=False)
print(new_calc)

In [ ]:
import matplotlib.pyplot as plt
fig, ax = plt.subplots()
fig.set_figwidth(18.7)
ax.plot(new_calc.keys()[:5], new_calc.values[:5])

plt.show()

In [ ]:
new_table_yellow = new_table[new_table['yellow_cards']>0]
len(new_table_yellow)
new_table_yellow = new_table_yellow.groupby('player_name')['yellow_cards'].sum().sort_values(ascending=False)
new_table_yellow.head(20)

In [ ]:
import matplotlib.pyplot as plt

plt.hist(new_table_yellow, bins=20)
plt.show()

In [ ]:
new_table_full = new_table[(new_table['red_cards']>0) & (new_table['yellow_cards']>0)]
len(new_table_full)

In [ ]:
new_calc = new_table.groupby('player_name')[['yellow_cards','red_cards']].sum().sort_values(by=['yellow_cards','red_cards'], ascending=False)
print(new_calc)

In [ ]:
new_calc = new_table.groupby('player_name')[['yellow_cards','red_cards']].sum().sort_values(by=['yellow_cards','red_cards'], ascending=False)
print(new_calc)

In [ ]:
new_table_full.groupby(['yellow_cards','red_cards','player_name']).value_counts(sort=True, ascending=False, subset=['minutes_played']).head()

In [ ]:
import matplotlib.pyplot as plt

plt.scatter(new_table_full['player_name'], new_table_full['red_cards'])
plt.show()

In [ ]:

new_group_away = new_table[new_table['hosting']=='Away']
new_group = new_group_away.groupby(['yellow_cards','red_cards']).sum(numeric_only=True).value_counts()
new_group

In [ ]:
new_group.dtypes

In [ ]:

new_group_home = new_table[new_table['hosting']=='Home']
new_group = new_group_home.groupby(['yellow_cards','red_cards']).sum(numeric_only=True).value_counts()

In [ ]:
new_group = new_table.groupby(['yellow_cards','red_cards'])
new_group.sum(numeric_only=True).value_counts()

In [ ]:
new_group.mean(numeric_only=True).value_counts()

In [ ]:
new_table_players = new_table[new_table['hosting']=='Home']
len(new_table_players)

In [ ]:
new_table_players_away = new_table[new_table['hosting']=='Away']
len(new_table_players_away)

In [ ]:
import matplotlib.pyplot as plt
plt.pie(new_group.mean(numeric_only=True).value_counts(normalize=True))

plt.show()