In [1]:
import pandas as pd
club_games = pd.read_csv('/home/becode/Desktop/5#StoryTelling/data/club_games.csv')

In [2]:
club_games.dtypes

club_id                   int64
game_id                   int64
own_goals                 int64
own_position              int64
own_manager_name         object
opponent_id               int64
opponent_goals            int64
opponent_position         int64
opponent_manager_name    object
hosting                  object
is_win                    int64
dtype: object

In [3]:
appearance = pd.read_csv('/home/becode/Desktop/5#StoryTelling/data/appearances.csv')
appearance.describe()

,game_id,player_id,player_club_id,player_current_club_id,yellow_cards,red_cards,goals,assists,minutes_played
count,1.166215e+06,1.166215e+06,1.166215e+06,1.166215e+06,1.166215e+06,1.166215e+06,1.166215e+06,1.166215e+06,1.166215e+06
mean,3.098286e+06,1.906905e+05,2.858970e+03,3.300416e+03,1.488602e-01,3.616829e-03,9.679090e-02,7.357991e-02,6.976547e+01
std,4.435312e+05,1.572813e+05,6.909196e+03,8.355203e+03,3.672712e-01,6.003125e-02,3.328494e-01,2.817264e-01,2.972476e+01
min,-1.000000e+00,1.000000e+01,1.000000e+00,-1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.700926e+06,6.157300e+04,2.810000e+02,3.310000e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.300000e+01
50%,3.069978e+06,1.495320e+05,8.550000e+02,8.680000e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,9.000000e+01
75%,3.450678e+06,2.783430e+05,2.441000e+03,2.578000e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,9.000000e+01
max,4.055287e+06,1.110406e+06,8.367800e+04,8.367800e+04,2.000000e+00,1.000000e+00,6.000000e+00,6.000000e+00,1.200000e+02

In [4]:
new_table = appearance[appearance['competition_id']=='BE1']

In [5]:
new_table.describe()

,game_id,player_id,player_club_id,player_current_club_id,yellow_cards,red_cards,goals,assists,minutes_played
count,6.476400e+04,6.476400e+04,64764.000000,64764.000000,64764.000000,64764.000000,64764.000000,64764.000000,64764.000000
mean,3.159646e+06,2.346479e+05,4427.158684,3519.125996,0.145636,0.004787,0.099901,0.075845,70.251081
std,4.389001e+05,1.793906e+05,9152.036314,7780.079724,0.365133,0.069020,0.334899,0.283345,29.764378
min,2.469866e+06,3.441000e+03,58.000000,3.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,2.732155e+06,9.622700e+04,475.000000,410.000000,0.000000,0.000000,0.000000,0.000000,58.000000
50%,3.140014e+06,1.877440e+05,1184.000000,1096.000000,0.000000,0.000000,0.000000,0.000000,90.000000
75%,3.598119e+06,3.434630e+05,2861.000000,2861.000000,0.000000,0.000000,0.000000,0.000000,90.000000
max,3.851361e+06,1.103981e+06,41274.000000,60551.000000,2.000000,1.000000,5.000000,3.000000,90.000000

In [6]:
new_table = pd.merge(new_table, club_games,left_on='game_id', right_on='game_id')
len(new_table)

129472

In [7]:
new_table.head()

,appearance_id,game_id,player_id,player_club_id,player_current_club_id,date,player_name,competition_id,yellow_cards,red_cards,...,club_id,own_goals,own_position,own_manager_name,opponent_id,opponent_goals,opponent_position,opponent_manager_name,hosting,is_win
0,2479873_73846,2479873,73846,3057,2293,2014-08-02,Paul-José Mpoku,BE1,1,0,...,601,2,13,Yves Vanderhaeghe,3057,3,1,Guy Luzon,Home,0
1,2479873_73846,2479873,73846,3057,2293,2014-08-02,Paul-José Mpoku,BE1,1,0,...,3057,3,1,Guy Luzon,601,2,13,Yves Vanderhaeghe,Away,1
2,2479873_111061,2479873,111061,601,7179,2014-08-02,Alassane També,BE1,0,0,...,601,2,13,Yves Vanderhaeghe,3057,3,1,Guy Luzon,Home,0
3,2479873_111061,2479873,111061,601,7179,2014-08-02,Alassane També,BE1,0,0,...,3057,3,1,Guy Luzon,601,2,13,Yves Vanderhaeghe,Away,1
4,2479873_132764,2479873,132764,3057,465,2014-08-02,Tony Watt,BE1,0,0,...,601,2,13,Yves Vanderhaeghe,3057,3,1,Guy Luzon,Home,0

In [27]:

players = pd.read_csv('/home/becode/Desktop/5#StoryTelling/data/players.csv')
new_table = pd.merge(new_table, players,left_on='player_id', right_on='player_id')
new_table.head()

,appearance_id,game_id,player_id,player_club_id,player_current_club_id,date,player_name,competition_id,yellow_cards,red_cards,...,highest_market_value_in_eur_y,agent_name_y,contract_expiration_date_y,current_club_domestic_competition_id_y,first_name_y,last_name_y,player_code_y,image_url_y,last_season_y,url_y
0,2479873_73846,2479873,73846,3057,2293,2014-08-02,Paul-José Mpoku,BE1,1,0,...,5000000.0,PMK COMPANY,NaN,TR1,Paul-José,Mpoku,paul-jose-mpoku,https://img.a.transfermarkt.technology/portrai...,2021,https://www.transfermarkt.co.uk/paul-jose-mpok...
1,2479873_73846,2479873,73846,3057,2293,2014-08-02,Paul-José Mpoku,BE1,1,0,...,5000000.0,PMK COMPANY,NaN,TR1,Paul-José,Mpoku,paul-jose-mpoku,https://img.a.transfermarkt.technology/portrai...,2021,https://www.transfermarkt.co.uk/paul-jose-mpok...
2,2479885_73846,2479885,73846,3057,2293,2014-08-10,Paul-José Mpoku,BE1,0,0,...,5000000.0,PMK COMPANY,NaN,TR1,Paul-José,Mpoku,paul-jose-mpoku,https://img.a.transfermarkt.technology/portrai...,2021,https://www.transfermarkt.co.uk/paul-jose-mpok...
3,2479885_73846,2479885,73846,3057,2293,2014-08-10,Paul-José Mpoku,BE1,0,0,...,5000000.0,PMK COMPANY,NaN,TR1,Paul-José,Mpoku,paul-jose-mpoku,https://img.a.transfermarkt.technology/portrai...,2021,https://www.transfermarkt.co.uk/paul-jose-mpok...
4,2486389_73846,2486389,73846,3057,2293,2014-08-15,Paul-José Mpoku,BE1,0,0,...,5000000.0,PMK COMPANY,NaN,TR1,Paul-José,Mpoku,paul-jose-mpoku,https://img.a.transfermarkt.technology/portrai...,2021,https://www.transfermarkt.co.uk/paul-jose-mpok...

In [9]:
new_table.dtypes

appearance_id                            object
game_id                                   int64
player_id                                 int64
player_club_id                            int64
player_current_club_id                    int64
date                                     object
player_name                              object
competition_id                           object
yellow_cards                              int64
red_cards                                 int64
goals                                     int64
assists                                   int64
minutes_played                            int64
club_id                                   int64
own_goals                                 int64
own_position                              int64
own_manager_name                         object
opponent_id                               int64
opponent_goals                            int64
opponent_position                         int64
opponent_manager_name                    object
hosting                                  object
is_win                                    int64
name                                     object
current_club_id                           int64
current_club_name                        object
country_of_citizenship                   object
country_of_birth                         object
city_of_birth                            object
date_of_birth                            object
position                                 object
sub_position                             object
foot                                     object
height_in_cm                              int64
market_value_in_eur                     float64
highest_market_value_in_eur             float64
agent_name                               object
contract_expiration_date                 object
current_club_domestic_competition_id     object
first_name                               object
last_name                                object
player_code                              object
image_url                                object
last_season                               int64
url                                      object
dtype: object

In [10]:
new_table.groupby('hosting')[['yellow_cards','red_cards']].value_counts()

hosting  yellow_cards  red_cards
Away     0             0            55301
         1             0             8837
         0             1              293
         2             0              288
         1             1               17
Home     0             0            55301
         1             0             8837
         0             1              293
         2             0              288
         1             1               17
dtype: int64

In [11]:
new_calc = new_table.groupby('player_name')[['yellow_cards','red_cards']].sum().sort_values(by=['yellow_cards','red_cards'], ascending=False)
print(new_calc)

                       yellow_cards  red_cards
player_name
Kevin Vandendriessche           106          2
Marco Ilaimaharitra             104          4
Noë Dussenne                    104          4
Damien Marcq                     92          4
Kristof D'Haene                  86          4
...                             ...        ...
Yves Lenaerts                     0          0
Zakaria M'Sila                    0          0
Zeno Van Den Bosch                0          0
Zout                              0          0
Élie Youan                        0          0

[1794 rows x 2 columns]

In [12]:
new_table_full = new_table[(new_table['red_cards']>0) & (new_table['yellow_cards']>0)]
len(new_table_full)

34

In [13]:
new_table_full.groupby(['yellow_cards','red_cards','player_name']).value_counts(sort=True, ascending=False, subset=['minutes_played']).head()

yellow_cards  red_cards  player_name         minutes_played
1             1          Anton Tanghe        39                2
                         Björn Engels        82                2
                         Borja López         85                2
                         Calvin Stengs       62                2
                         Christophe Lepoint  55                2
dtype: int64